.settings_container{
    width: 30vw;
    min-height: 92vh;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: center;
    .title{
        // margin-right: 20px;
    }
}