.App {
    width: 100vw;
    height: 100vh;
}

.con_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toLeft {
    margin-left: 20px
}

.toRight {
    margin-right: 20px;
}

/* .toTop{
    margin-top: 20px;
} */
.flex {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}